---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_198YnfFu8RB24okGgqSYXp5Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Hj66ggJNipYBdJNvdJK83fEU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_198YnfFu8RB24okGgqSYXp5Q",
          "object": "event",
          "api_version": "2016-07-06",
          "created": 1477416803,
          "data": {
            "object": {
              "id": "ch_198YnfFu8RB24okGbodFTuk7",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_198YnfFu8RB24okGxQUUsU6d",
              "captured": true,
              "created": 1477416803,
              "currency": "usd",
              "customer": "cus_9RRhZMe8oGhlOL",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_198YnfFu8RB24okGlrbC1w9q",
              "livemode": false,
              "metadata": {},
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_198YnfFu8RB24okGbodFTuk7/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_198YneFu8RB24okGpfKPKExg",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9RRhZMe8oGhlOL",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "E3jTfASODt8V0ox6",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_9RRhmuaE41nqaq",
          "type": "charge.succeeded"
        }
  recorded_at: Tue, 25 Oct 2016 23:14:07 GMT
recorded_with: VCR 2.9.3
