- flash.each do |name, msg|
  - name == 'errors' ? name = 'danger' : name = 'success'
  %div(class="alert alert-#{name}")
    %a.close(data-dismiss='alert') &#215;
    = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
