---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Hj66ggJNipYBdJNvdJK83fEU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_198e5LFu8RB24okGXgxepxDR",
          "object": "token",
          "card": {
            "id": "card_198e5LFu8RB24okGGATXR6qz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "E3jTfASODt8V0ox6",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "67.160.120.190",
          "created": 1477437119,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 25 Oct 2016 23:11:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_198e5LFu8RB24okGXgxepxDR&email=golden_hettinger%40toy.biz&plan=0001
    headers:
      Authorization:
      - Bearer sk_test_Hj66ggJNipYBdJNvdJK83fEU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9RX9r1vsMEbveE",
          "object": "customer",
          "account_balance": 0,
          "created": 1477437120,
          "currency": "usd",
          "default_source": "card_198e5LFu8RB24okGGATXR6qz",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "golden_hettinger@toy.biz",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_198e5LFu8RB24okGGATXR6qz",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9RX9r1vsMEbveE",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "E3jTfASODt8V0ox6",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9RX9r1vsMEbveE/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_9RX94ug0H7Nrj4",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1477437120,
                "current_period_end": 1480115520,
                "current_period_start": 1477437120,
                "customer": "cus_9RX9r1vsMEbveE",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "0001",
                  "object": "plan",
                  "amount": 999,
                  "created": 1477413930,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyflixSubscribe",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1477437120,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9RX9r1vsMEbveE/subscriptions"
          }
        }
  recorded_at: Tue, 25 Oct 2016 23:12:01 GMT
recorded_with: VCR 2.9.3
