---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Hj66ggJNipYBdJNvdJK83fEU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_198e5TFu8RB24okGpuDextL3",
          "object": "token",
          "card": {
            "id": "card_198e5SFu8RB24okGYrrw10qU",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "bBQCSlOndWJUn4nh",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "67.160.120.190",
          "created": 1477437127,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 25 Oct 2016 23:12:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_198e5TFu8RB24okGpuDextL3&description=a+valid+charge
    headers:
      Authorization:
      - Bearer sk_test_Hj66ggJNipYBdJNvdJK83fEU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_198e5TFu8RB24okGqAmxQKS0"
          }
        }
  recorded_at: Tue, 25 Oct 2016 23:12:08 GMT
recorded_with: VCR 2.9.3
