- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to "#{category.tag}"
    .videos.row
      - category.recent_videos.each do |video|
        = render partial: '/videos/video', locals: {video: video}

